body {
  background-image: url(../img/pizza-background.jpg);
  background-repeat: repeat;
  margin: 0;
}

.jumbotron {
  background-color: rgba(255,255,255, 0.5);
  text-align: center;
}

.jumbotron h1 {
  font-family: 'Lemonada', cursive;
  font-size: 100px;
  letter-spacing: 6px;
}

#order-details {
  display: none;
}

.btn {
  margin: 20px;
}

.row {
  background-color: white;
}

.row h2 {
  text-align: center;
}
